@import "../utilities/variables";
@import "../utilities/navbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $DarkSlate;
}

.title {
  font-size: $Title;
  font-weight: 700;
  color: $Cream;
  margin: 6rem 0 0 0;
  text-align: center;
}

.subtitle {
  font-size: $Subtitle;
  color: $LightSlate;
  font-weight: 400;
  text-align: center;

  a {
    color: $LightAqua;
  }
}

.projects {
  background: $SlateGradient;
  box-shadow: 5px 5px 4px $DarkestSlate, -5px -5px 4px $Slate;
  border-radius: 2rem;
  margin: 1vw auto 2vw;
  width: 1200px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: auto;
  justify-content: stretch;
  grid-auto-flow: dense;
  align-items: start;
  grid-gap: 1vw;
  padding: 1vw;

  #offset {
    position: relative;
    top: -120px;
  }

  #large {
    grid-column: span 2;
    grid-row: span 1.5;

    .images {
      img {
        height: 240px;
      }
    }
  }

  .project {
    box-shadow: inset 3px 3px 4px $DarkestSlate, inset -3px -3px 4px $Slate;
    border-radius: 2rem;
    padding: 2rem;

    .images {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        height: 120px;
        transition: transform 100ms ease-in, color 100ms ease-in;

        &:hover {
          transform: translateY(-1px) scale(1.02);
        }
      }

      #cube {
        width: 240px;
        height: 250px;
        object-fit: cover;
        object-position: center;
      }

      #life {
        width: 190px;
        height: 250px;
        object-fit: cover;
        object-position: center;
        animation-play-state: paused;
      }

      #large {
        height: 240px;
      }
    }

    .text {
      .header {
        box-shadow: 5px 5px 4px $DarkestSlate, -5px -5px 4px $Slate;
        padding: 1vw;
        border-radius: 2rem;

        a {
          text-decoration: none;

          h2 {
            font-size: $Header;
            color: $LightAqua;
            line-height: 2rem;
            // transition: transform 100ms ease-in, color 100ms ease-in;
          }

          span {
            font-size: $Body;
            color: $LightSlate;
            display: block;
          }
        }
        &:hover {
          box-shadow: inset 3px 3px 4px $DarkestSlate,
            inset -3px -3px 4px $Slate;

          a {
            h2 {
              transform: translateY(-1px) scale(1.05);
              color: $LightestAqua;
            }
          }
        }
      }

      .button {
        display: flex;
        box-shadow: 5px 5px 4px $DarkestSlate, -5px -5px 4px $Slate;
        padding: 0.5vw;
        border-radius: 2rem;
        margin: 1vw auto 0;
        width: 150px;
        text-decoration: none;

        img {
          width: 25px;
          height: auto;
          filter: invert(1);
          margin: 0 0 2px 4px;
        }

        p {
          color: $LightSlate;
          font-weight: 700;
          font-size: $Body;
          margin: 1px 0 0 12px;
        }

        &:hover {
          box-shadow: inset 3px 3px 4px $DarkestSlate,
            inset -3px -3px 4px $Slate;

          p {
            transform: translateY(-1px) scale(1.02);
            color: $LightestAqua;
          }
        }
      }
    }
  }
}

.footer {
  text-align: center;
  color: $LightSlate;
  margin: 0 0 1vw;
}

@media (max-width: 1280px) {
  .projects {
    width: 90vw;

    #offset {
      top: -9vw;
    }

    #large {
      .images {
        img {
          height: 18vw;
        }
      }
    }

    .project {
      padding: 1vw;
      .images {
        img {
          height: 9vw;
        }

        #large {
          height: 18vw;
        }
      }

      .text {
        .header {
          a {
            h2 {
              font-size: $Subtitle;
            }
            span {
              font-size: $Mobile;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .projects {
    margin-bottom: 4vw;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    #offset {
      top: 0;
    }

    #large {
      grid-column: span 1;
      grid-row: span 1;

      .images {
        img {
          height: 36vw;
        }
      }
    }

    .project {
      .images {
        img {
          height: 36vw;
        }

        #large {
          height: 36vw;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .projects {
    h4 {
      font-size: $Mobile;
    }

    .project {
      .text {
        .header {
          // width: 250px;

          a {
            h2 {
              font-size: $Mobile;
            }
          }
        }
      }
    }
  }
}
