$primary: rgb(230, 241, 255);
$background: rgb(43, 45, 47);
$secondary: rgb(136, 146, 175);
$decoration: rgb(100, 255, 218);

$cover: clamp(3rem, 10vw, 6rem);
$title: clamp(2.5rem, 8vw, 4rem);
$header: clamp(24px, 3vw, 36px);
$subheader: 24px;
$body: 18px;
