$white: #e6f1ff;
$navy: #2b2d2f;
$darkslate: #495670;
$slate: #8892b0;
$decoration: #64ffda;

$cover: clamp(3rem, 10vw, 7rem);
$title: clamp(2.5rem, 8vw, 4rem);
$subtitle: clamp(16px, 3vw, 18px);
$header: clamp(24px, 3vw, 40px);
$subheader: 24px;
$body: 16px;
