$primary: rgb(230, 240, 255);
$background: rgb(45, 45, 50);
$secondary: rgb(135, 150, 175);
$decoration: rgb(100, 255, 215);

$cover: clamp(3rem, 10vw, 6rem);
$title: clamp(2.5rem, 8vw, 4rem);
$subtitle: 24px;
$header: clamp(24px, 3vw, 36px);
$subheader: clamp(18px, 1.25vw, 24px);
$body: 18px;
