* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(45, 45, 50);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  padding: 1rem 8rem;
}
.navbar .icons {
  display: flex;
  gap: 1.5vw;
}
.navbar .shortcuts {
  display: flex;
  gap: 3vw;
}
.navbar i {
  font-size: 44px;
  margin: 0;
  padding: 0;
  color: rgb(230, 240, 255);
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.navbar i:hover {
  transform: translateY(-2px) scale(1.05);
  color: rgb(100, 255, 215);
}
.navbar .links {
  text-decoration: none;
  position: relative;
  color: rgb(230, 240, 255);
  font-weight: 300;
  font-size: 22px;
}
.navbar .links::after {
  content: "";
  width: 0%;
  height: 2px;
  transition: width 200ms ease-in;
  background-color: rgb(230, 240, 255);
  position: absolute;
  top: 27px;
  left: 1px;
}
.navbar .links:hover::after {
  width: 100%;
}

.landing {
  min-height: 80vh;
}
.landing .hero {
  font-weight: 700;
  color: rgb(230, 240, 255);
  text-align: left;
  margin: 0 20vw;
}
.landing .hero .name {
  color: rgb(100, 255, 215);
  font-size: 7rem;
  text-shadow: 0.25rem 0.25rem 0.25rem rgba(75, 150, 150, 0.8);
  display: inline-block;
}
.landing .hero .title {
  padding-top: 32vh;
  font-size: clamp(3rem, 10vw, 6rem);
}
.landing .hero .typed-title {
  margin-top: 1vh;
  font-weight: 400;
  font-size: 24px;
}

.hor-cell {
  background: linear-gradient(145deg, rgba(115, 115, 115, 0.15) 15%, #2b2d2f 80%);
  border-radius: 2rem;
  margin: 0 20vw 4vw;
  padding: 2vw;
  text-align: center;
  box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
}
.hor-cell .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  color: rgb(230, 240, 255);
}
.hor-cell .subtitle {
  font-size: clamp(18px, 1.25vw, 24px);
  color: rgb(135, 150, 175);
  margin-bottom: 2vw;
}
.hor-cell .content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.hor-cell .content i {
  font-size: 100px;
  color: rgb(100, 255, 215);
  transition: transform 200ms ease-in, color 200ms ease-in;
}
.hor-cell .content i:hover {
  transform: translateY(-7px) scale(1.1);
  color: rgb(150, 255, 250);
}
.hor-cell .content .section {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 250px;
}
.hor-cell .content .section h3 {
  font-size: 24px;
  color: rgb(230, 240, 255);
}
.hor-cell .content .section p {
  list-style: none;
  font-size: 18px;
  font-weight: 300;
  color: rgb(135, 150, 175);
}

.vert-cell {
  background: linear-gradient(145deg, rgba(115, 115, 115, 0.15) 15%, #2b2d2f 80%);
  border-radius: 2rem;
  margin: 0 20vw 4vw;
  padding: 2vw;
  text-align: center;
  box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
}
.vert-cell .title {
  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: 700;
  color: rgb(230, 240, 255);
  margin-bottom: 2vw;
}
.vert-cell .content {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 2vw;
}
.vert-cell .content .images {
  display: flex;
  flex-direction: column;
}
.vert-cell .content .images #img1 {
  margin: -100px 0 0 100px;
}
.vert-cell .content .images img {
  width: 24vw;
  height: auto;
  border: 5px solid rgb(100, 255, 215);
}
.vert-cell .content .text h4 {
  font-size: clamp(18px, 1.25vw, 24px);
  font-weight: 300;
  color: rgb(230, 240, 255);
  margin: 0 0 0.5rem 6rem;
}
.vert-cell .content .text a {
  text-decoration: none;
  border: 0;
}
.vert-cell .content .text a h2 {
  font-size: clamp(24px, 3vw, 36px);
  color: rgb(100, 255, 215);
  line-height: 1.5rem;
}
.vert-cell .content .text a h2 span {
  font-size: clamp(18px, 1.25vw, 24px);
  color: rgb(135, 150, 175);
}
.vert-cell .content .text ul {
  margin-top: 0.25rem;
}
.vert-cell .content .text ul li {
  list-style: none;
  font-size: clamp(18px, 1.25vw, 24px);
  font-weight: 300;
  color: rgb(230, 240, 255);
}
.vert-cell .content .text h3 {
  margin: 2rem 0 -0.25rem;
  font-size: clamp(18px, 1.25vw, 24px);
  color: rgb(135, 150, 175);
}/*# sourceMappingURL=index.css.map */