* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(45, 45, 50);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0deg, 0%, 0%, 0.5);
  padding: 1rem 8vw;
}
.navbar .icons {
  display: flex;
  gap: 1.5vw;
}
.navbar .shortcuts {
  display: flex;
  gap: 3vw;
}
.navbar i {
  font-size: 44px;
  margin: 0;
  padding: 0;
  color: rgb(230, 240, 255);
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.navbar i:hover {
  transform: translateY(-2px) scale(1.05);
  color: rgb(100, 255, 215);
}
.navbar .links {
  text-decoration: none;
  position: relative;
  color: rgb(230, 240, 255);
  font-weight: 300;
  font-size: 22px;
}
.navbar .links::after {
  content: "";
  width: 0%;
  height: 2px;
  transition: width 200ms ease-in;
  background-color: rgb(230, 240, 255);
  position: absolute;
  top: 27px;
  left: 1px;
}
.navbar .links:hover::after {
  width: 100%;
}

#particles-js {
  z-index: -1;
  height: 84vh;
  width: 98vw;
}

.landing {
  height: 80vh;
  margin-top: -84vh;
}
.landing .hero {
  font-weight: 700;
  color: rgb(230, 240, 255);
  width: 1000px;
  text-align: left;
  margin: 0 auto;
}
.landing .hero .name {
  color: rgb(100, 255, 215);
  font-size: clamp(6rem, 12vw, 7rem);
  text-shadow: 0.25rem 0.25rem 0.25rem rgba(75, 150, 150, 0.8);
  display: inline-block;
}
.landing .hero .title {
  padding-top: 32vh;
  font-size: clamp(4.5rem, 10vw, 5.5rem);
}
.landing .hero .typed-title {
  margin-top: 1vh;
  font-weight: 400;
  font-size: 36px;
}

.row {
  background: linear-gradient(145deg, rgba(115, 115, 115, 0.15) 15%, #2b2d2f 80%);
  border-radius: 2rem;
  margin: 2vw auto;
  width: clamp(1000px, 80vw, 1400px);
  padding: 2vw;
  text-align: center;
  box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
}
.row .title {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(230, 240, 255);
}
.row .subtitle {
  font-size: 24px;
  color: rgb(135, 150, 175);
  margin-bottom: 2vw;
}
.row .content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.row .content i {
  font-size: 100px;
  color: rgb(100, 255, 215);
  transition: transform 200ms ease-in, color 200ms ease-in;
}
.row .content i:hover {
  transform: translateY(-7px) scale(1.1);
  color: rgb(150, 255, 250);
}
.row .content .section {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 2.5vw;
  justify-content: center;
  box-shadow: inset 2px 2px 4px #000, inset -2px -2px 4px #636363;
  background: #2b2d2f;
  border-radius: 2rem;
}
.row .content .section h3 {
  font-size: 36px;
  color: rgb(230, 240, 255);
}
.row .content .section p {
  list-style: none;
  font-size: 22px;
  font-weight: 300;
  color: rgb(135, 150, 175);
  line-height: 1rem;
}

.column {
  background: linear-gradient(145deg, rgba(115, 115, 115, 0.15) 15%, #2b2d2f 80%);
  border-radius: 2rem;
  margin: 2vw auto;
  width: clamp(1000px, 80vw, 1400px);
  padding: 2vw;
  text-align: center;
  box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
}
.column .title {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(230, 240, 255);
}
.column .content {
  display: flex;
  justify-content: center;
  gap: 4vw;
  align-items: center;
  text-align: left;
}
.column .content .images {
  display: flex;
  flex-direction: column;
  margin: 1vw;
}
.column .content .images #img1 {
  margin: -4vw 0 0 4vw;
}
.column .content .images img {
  width: 450px;
  height: auto;
  border: 5px solid rgb(100, 255, 215);
  border-radius: 2rem;
}
.column .content .text {
  width: clamp(400px, 50vw, 450px);
  margin-bottom: 24.5px;
  box-shadow: inset 2px 2px 4px #000, inset -2px -2px 4px #636363;
  background: #2b2d2f;
  border-radius: 2rem;
  padding: 2vw;
}
.column .content .text .header h4 {
  font-size: 24px;
  font-weight: 300;
  color: rgb(230, 240, 255);
  margin: -0.5rem 0 0.5rem 5vw;
}
.column .content .text .header a {
  text-decoration: none;
  border: 0;
}
.column .content .text .header a h2 {
  font-size: 36px;
  color: rgb(100, 255, 215);
  line-height: 1.5rem;
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.column .content .text .header a h2:hover {
  transform: translateY(-1px) scale(1.01);
  color: rgb(150, 255, 250);
}
.column .content .text .header a span {
  font-size: 24px;
  color: rgb(135, 150, 175);
}
.column .content .text .bullets {
  display: flex;
  flex-direction: column;
}
.column .content .text .bullets h3 {
  margin: 2rem 0 -0.25rem;
  font-size: 24px;
  color: rgb(135, 150, 175);
}
.column .content .text .bullets ul {
  margin-top: 0.25rem;
}
.column .content .text .bullets ul li {
  list-style: none;
  font-size: 22px;
  font-weight: 300;
  color: rgb(230, 240, 255);
}

@media (max-width: 1280px) {
  .landing .hero {
    width: clamp(600px, 80vw, 710px);
  }
  .row {
    width: 90vw;
    padding: 0 0 2vw 0;
  }
  .column {
    width: 90vw;
  }
  .column .content {
    flex-direction: column;
    gap: 1vw;
  }
  .column .content .images {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .column .content .images #img1 {
    margin: calc(350px - 20vw) 0 0 calc(-400px + 25vw);
  }
  .column .content .images img {
    width: clamp(400px, 40vw, 500px);
  }
  .column .content .text {
    width: clamp(600px, 60vw, 700px);
  }
  .column .content .text .header {
    text-align: center;
  }
  .column .content .text .header a h2 span {
    display: block;
    line-height: 2.5rem;
  }
  .column .content .text .bullets {
    flex-direction: row;
    justify-content: space-between;
  }
  .column .content .text .bullets h3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .landing .hero {
    width: 75vw;
  }
  .landing .hero .name {
    font-size: 6rem;
  }
  .landing .hero .title {
    padding-top: 24vh;
    font-size: 4.5rem;
  }
  .landing .hero .typed-title {
    font-size: 24px;
  }
  .row {
    padding: 2vw 0 6vw;
  }
  .row .content {
    flex-direction: column;
    align-items: center;
    gap: 2.5vh;
  }
  .row .content .section {
    width: 80vw;
  }
  .row #immune {
    flex-direction: row;
  }
  .column .content .images #img1 {
    margin: calc(350px - 30vw) 0 0 calc(-400px + 35vw);
  }
  .column .content .images img {
    width: clamp(300px, 50vw, 400px);
  }
  .column .content .text {
    width: 80vw;
  }
  .column .content .text .header a h2 span {
    line-height: 2rem;
    display: inline;
  }
  .column .content .text .bullets {
    width: 50vw;
    margin: 0 auto;
    flex-direction: column;
  }
  .column .content .text .bullets h3 {
    display: block;
    margin-top: 2vw;
  }
}/*# sourceMappingURL=index.css.map */