@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

.landing {
  background-image: url("");
  background-attachment: fixed;
  background-size: cover;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: soft-light;
  min-height: 80vh;

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.8);
    gap: 8vw;
    padding: 2rem;

    .links {
      text-decoration: none;
      position: relative;
      color: $primary;
      font-weight: 300;
      font-size: 22px;

      &::after {
        content: "";
        width: 0%;
        height: 1px;
        transition: width 200ms ease-in;
        background-color: $primary;
        position: absolute;
        top: 29px;
        left: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .hero {
    font-weight: 700;
    color: $primary;
    text-align: center;

    .title {
      margin-top: 25vh;
      font-size: $cover;
    }

    .typed-title {
      margin-top: 1vh;
      font-weight: 400;
      font-size: $subheader;
    }
  }
}

.main {
  padding: 2vw;
  background-color: $primary;
  text-align: center;

  .title {
    font-size: $title;
    font-weight: 700;
    color: $secondary;
  }
}
