@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: right;
  background-color: hsla(0, 0%, 0%, 0.5);
  gap: 3vw;
  padding: 2rem 8rem;

  .links {
    text-decoration: none;
    position: relative;
    color: $primary;
    font-weight: 300;
    font-size: 22px;

    &::after {
      content: "";
      width: 0%;
      height: 1px;
      transition: width 200ms ease-in;
      background-color: $primary;
      position: absolute;
      top: 29px;
      left: 0;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.landing {
  background-image: url("");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
  top: -6rem;
  background-color: rgb(160, 160, 160);
  min-height: 80vh;

  .hero {
    font-weight: 700;
    color: $primary;
    text-align: left;
    margin-left: 20vw;

    .title {
      padding-top: 32vh;
      font-size: $cover;
    }

    .typed-title {
      margin-top: 1vh;
      font-weight: 400;
      font-size: $subheader;
    }
  }
}

.about {
  padding: 2vw;
  background-color: $primary;
  text-align: center;

  .title {
    font-size: $title;
    font-weight: 700;
    color: $secondary;
    margin-bottom: 2vw;
  }

  .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    i {
      font-size: 100px;
      color: $decoration;
      transition: transform 200ms ease-in, color 200ms ease-in;

      &:hover {
        transform: translateY(-7px) scale(1.1);
        color: hsl(43, 100%, 75%);
      }
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: $subheader;
      color: $secondary;
    }

    p {
      line-height: 1.5rem;
      font-size: $body;
      max-width: 50ch;
      margin: 0 auto;
      font-weight: 300;
      color: $tertiary;
    }
  }
}

.projects {
  background-image: url("");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(160, 160, 160);
  min-height: 100vh;
}
