$Cream: rgb(240, 248, 255);
$LightSlate: rgb(119, 136, 153);
$SlateGradient: linear-gradient(
  145deg,
  rgba(115, 115, 115, 0.15) 15%,
  rgb(43, 45, 47) 80%
);
$Slate: rgb(64, 67, 70);
$DarkSlate: rgb(45, 45, 50);
$DarkestSlate: rgb(22, 23, 24);
$LightestAqua: rgb(150, 255, 250);
$LightAqua: rgb(128, 255, 212);
$Aqua: rgb(125, 207, 180);
$DarkAqua: rgb(95, 158, 160);
$BlackFilm: rgba(0, 0, 0, 0.5);

$Title: 72px;
$Header: 36px;
$Subtitle: 24px;
$Body: 22px;
$Mobile: 20px;
