@import "../utilities/variables";
@import "../utilities/navbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $DarkSlate;
}

#particles-js {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  -webkit-user-drag: none;
}

.landing {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 38vh auto;
  width: 1000px;

  .hero {
    font-weight: 700;
    color: $Cream;

    .name {
      color: $LightAqua;
      font-size: clamp(6rem, 12vw, 7rem);
      text-shadow: 0.35rem 0.35rem 0.35rem $DarkAqua;
      display: inline-block;
    }

    .title {
      font-size: clamp(4.5rem, 10vw, 5.5rem);
    }

    .typed-title {
      margin-top: 1vh;
      font-weight: 400;
      font-size: $Header;
    }
  }
}

.about {
  background: $SlateGradient;
  border-radius: 2rem;
  margin: 100vh auto 2vw;
  width: clamp(1000px, 80vw, 1400px);
  padding: 2vw;
  text-align: center;
  box-shadow: inset 3px 3px 4px $DarkestSlate, inset -3px -3px 4px $Slate;

  .title {
    font-size: $Title;
    font-weight: 700;
    color: $Cream;
  }

  .body {
    display: flex;
    padding: 1vw 0 0 0;

    .text {
      box-shadow: 5px 5px 4px $DarkestSlate, -5px -5px 4px $Slate;
      border-radius: 1rem;
      padding: 2vw;
      min-width: 400px;
      max-width: 600px;
      margin: 1rem;

      img {
        border-radius: 1rem;
        width: 250px;
        height: 300px;
        object-fit: cover;
        object-position: top;
        box-shadow: inset 0 0 10px #fff,
          /* inner white */ inset 20px 0 40px #f0f,
          /* inner left magenta short */ inset -20px 0 40px #0ff,
          /* inner right cyan short */ inset 20px 0 100px #f0f,
          /* inner left magenta broad */ inset -20px 0 100px #0ff,
          /* inner right cyan broad */ 0 0 20px #fff,
          /* outer white */ -10px 0 40px #f0f,
          /* outer left magenta */ 10px 0 40px #0ff; /* outer right cyan */
      }

      .subtitle {
        font-size: $Body;
        font-weight: 700;
        color: $LightestSlate;
        margin: 2vw 0 0;
        text-align: left;
      }
    }

    .skills {
      display: flex;
      margin: 0 auto;

      .skill-row {
        margin: auto;

        .skill {
          width: 150px;
          height: 100px;
          border-radius: 1rem;
          margin: 1rem;
          border: double 3px transparent;
          background-image: linear-gradient($DarkestSlate, $DarkestSlate),
            radial-gradient(circle at top left, #51a2e9, #ff4d5a);
          background-origin: border-box;
          background-clip: padding-box, border-box;

          img {
            width: auto;
            height: 50px;
            margin: 0.5rem;
          }

          p {
            font-size: $Mobile;
            color: $Cream;
            font-weight: 600;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

.footer {
  text-align: center;
  color: $LightSlate;
  margin: 0 0 1vw;
}

@media (max-width: 1280px) {
  .landing {
    width: clamp(600px, 80vw, 720px);
    margin: 32vh auto;
  }

  .about {
    width: 90vw;

    .body {
      flex-direction: column;

      .text {
        margin: 0 auto 2vw;
      }
    }
  }
}

@media (max-width: 768px) {
  .landing {
    margin: 30vh auto;
    width: 90vw;

    .hero {
      text-align: center;

      .name {
        font-size: 6rem;
      }

      .title {
        font-size: 4.5rem;
      }

      .typed-title {
        font-size: 32px;
      }
    }
  }

  .about {
    .body {
      .text {
        img {
          width: 200px;
          height: 250px;
        }

        .subtitle {
          font-size: $Mobile;
          padding: 2vw 4vw;
          text-align: center;
        }
      }
      .skills {
        .skill-row {
          .skill {
            width: 125px;
            height: 75px;
            margin: 6px;

            img {
              height: 30px;
            }

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .landing {
    .hero {
      .name {
        font-size: 4.5rem;
      }

      .title {
        font-size: 4rem;
      }

      .typed-title {
        font-size: $Subtitle;
      }
    }
  }

  .about {
    .body {
      .text {
        min-width: 300px;
        width: 300px;

        img {
          width: 200px;
        }

        .subtitle {
          width: 250px;
          margin: 0 auto;
        }
      }
      .skills {
        .skill-row {
          .skill {
            width: 95px;
            height: 75px;
            margin: 4px;

            img {
            }
          }
        }
      }
    }
  }
}
