.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 8vw;
  top: 0;
}
.navbar .icons {
  display: flex;
  gap: 2vw;
}
.navbar .icons i {
  font-size: 44px;
  color: rgb(240, 248, 255);
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.navbar .icons i:hover {
  transform: translateY(-2px) scale(1.05);
  color: rgb(128, 255, 212);
}
.navbar .nav-menu {
  display: flex;
  gap: 3vw;
}
.navbar .nav-menu .nav-item {
  text-decoration: none;
  position: relative;
  color: rgb(240, 248, 255);
  font-weight: 300;
  font-size: 22px;
}
.navbar .nav-menu .nav-item::after {
  content: "";
  width: 0%;
  height: 2px;
  transition: width 200ms ease-in;
  background-color: rgb(240, 248, 255);
  position: absolute;
  top: 27px;
  left: 1px;
}
.navbar .nav-menu .nav-item:hover::after {
  width: 100%;
}
.navbar .hamburger {
  display: none;
}
.navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(240, 248, 255);
}

@media (max-width: 768px) {
  .navbar .icons {
    gap: 1rem;
  }
  .navbar .nav-menu {
    position: fixed;
    right: -100%;
    top: 76px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navbar .nav-menu .nav-item {
    padding: 1rem 8vw;
    font-size: 24px;
  }
  .navbar .nav-menu .nav-item::after {
    display: none;
  }
  .navbar .nav-menu .nav-item:hover {
    font-weight: 600;
  }
  .navbar .nav-menu.active {
    right: 0;
  }
  .navbar .hamburger {
    display: block;
    cursor: pointer;
  }
  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(45, 45, 50);
}

#particles-js {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  -webkit-user-drag: none;
}

.landing {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 38vh auto;
  width: 1000px;
}
.landing .hero {
  font-weight: 700;
  color: rgb(240, 248, 255);
}
.landing .hero .name {
  color: rgb(128, 255, 212);
  font-size: clamp(6rem, 12vw, 7rem);
  text-shadow: 0.35rem 0.35rem 0.35rem rgb(95, 158, 160);
  display: inline-block;
}
.landing .hero .title {
  font-size: clamp(4.5rem, 10vw, 5.5rem);
}
.landing .hero .typed-title {
  margin-top: 1vh;
  font-weight: 400;
  font-size: 36px;
}

.skills {
  background: linear-gradient(145deg, rgba(115, 115, 115, 0.15) 15%, rgb(43, 45, 47) 80%);
  border-radius: 2rem;
  margin: 100vh auto 0;
  width: clamp(1000px, 80vw, 1400px);
  padding: 2vw;
  text-align: center;
  box-shadow: 5px 5px 4px rgb(22, 23, 24), -5px -5px 4px rgb(64, 67, 70);
}
.skills .title {
  font-size: 72px;
  font-weight: 700;
  color: rgb(240, 248, 255);
}
.skills .subtitle {
  font-size: 24px;
  color: rgb(119, 136, 153);
  margin-bottom: 1vw;
}
.skills .subtitle a {
  color: rgb(128, 255, 212);
  text-decoration: underline;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.skills .subtitle a:hover {
  background-color: rgb(125, 207, 180);
  color: rgb(240, 248, 255);
}
.skills .content {
  text-align: center;
  padding: 0 4vw;
  color: rgb(240, 248, 255);
  font-size: 4.5rem;
}
.skills .content span {
  display: inline-block;
  margin: 0 0.25vw;
}
.skills .content .language {
  color: rgb(150, 255, 250);
}
.skills .content .application {
  color: rgb(128, 255, 212);
}
.skills .content .software {
  color: rgb(125, 207, 180);
}

.projects {
  background: linear-gradient(145deg, rgba(115, 115, 115, 0.15) 15%, rgb(43, 45, 47) 80%);
  border-radius: 2rem;
  margin: 2vw auto;
  width: clamp(1000px, 80vw, 1400px);
  padding: 2vw;
  text-align: center;
  box-shadow: 5px 5px 4px rgb(22, 23, 24), -5px -5px 4px rgb(64, 67, 70);
}
.projects .title {
  font-size: 72px;
  font-weight: 700;
  color: rgb(240, 248, 255);
  margin-bottom: 1vw;
}
.projects .swiper .swiper-wrapper .project {
  border-radius: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
}
.projects .swiper .swiper-wrapper .project h4 {
  font-size: 24px;
  font-weight: 300;
  color: rgb(240, 248, 255);
  margin: 0 0 0.25vw 8vw;
  text-align: left;
}
.projects .swiper .swiper-wrapper .project .content {
  display: flex;
  justify-content: center;
  gap: 2vw;
  align-items: center;
  text-align: left;
}
.projects .swiper .swiper-wrapper .project .content .images {
  display: flex;
}
.projects .swiper .swiper-wrapper .project .content .images img {
  width: auto;
  height: 20vw;
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.projects .swiper .swiper-wrapper .project .content .images img:hover {
  transform: translateY(-1px) scale(1.02);
}
.projects .swiper .swiper-wrapper .project .content .text {
  min-width: clamp(300px, 40vw, 365px);
  box-shadow: 5px 5px 4px rgb(22, 23, 24), -5px -5px 4px rgb(64, 67, 70);
  border-radius: 2rem;
  padding: 2vw;
  margin-bottom: 24px;
}
.projects .swiper .swiper-wrapper .project .content .text .header h4 {
  font-size: 24px;
  font-weight: 300;
  color: rgb(240, 248, 255);
  margin: -0.5rem 0 0.5rem 5vw;
}
.projects .swiper .swiper-wrapper .project .content .text .header #longer {
  margin-left: 4vw;
}
.projects .swiper .swiper-wrapper .project .content .text .header a {
  text-decoration: none;
}
.projects .swiper .swiper-wrapper .project .content .text .header a h2 {
  font-size: 36px;
  color: rgb(128, 255, 212);
  line-height: 2rem;
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.projects .swiper .swiper-wrapper .project .content .text .header a h2:hover {
  transform: translateY(-1px) scale(1.05);
  color: rgb(150, 255, 250);
}
.projects .swiper .swiper-wrapper .project .content .text .header a span {
  font-size: 24px;
  color: rgb(119, 136, 153);
  display: block;
}
.projects .swiper .swiper-wrapper .project .content .text ul {
  margin-top: 0.25rem;
}
.projects .swiper .swiper-wrapper .project .content .text ul li {
  list-style: none;
  font-size: 22px;
  font-weight: 300;
  color: rgb(240, 248, 255);
}
.projects .swiper .swiper-button-prev,
.projects .swiper .swiper-button-next {
  color: rgb(125, 207, 180);
  --swiper-navigation-size: 64px;
}
.projects .swiper .swiper-pagination {
  --swiper-pagination-color: rgb(125, 207, 180);
  --swiper-pagination-bullet-size: 16px;
}
.projects .swiper .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 85%;
  top: 72%;
  z-index: 10;
  width: 20%;
  height: 20%;
  stroke-width: 4px;
  stroke: rgb(125, 207, 180);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.contact {
  background: linear-gradient(145deg, rgba(115, 115, 115, 0.15) 15%, rgb(43, 45, 47) 80%);
  border-radius: 2rem;
  margin: 2vw auto;
  width: clamp(1000px, 80vw, 1400px);
  padding: 2vw;
  text-align: center;
  box-shadow: 5px 5px 4px rgb(22, 23, 24), -5px -5px 4px rgb(64, 67, 70);
}
.contact .title {
  font-size: 72px;
  font-weight: 700;
  color: rgb(240, 248, 255);
}
.contact .subtitle {
  font-size: 24px;
  color: rgb(119, 136, 153);
  margin-bottom: 2vw;
}
.contact .content {
  display: flex;
  justify-content: center;
  gap: 8vw;
}
.contact .content i {
  font-size: 100px;
  color: rgb(128, 255, 212);
  transition: transform 200ms ease-in, color 200ms ease-in;
}
.contact .content i:hover {
  transform: translateY(-7px) scale(1.1);
  color: rgb(150, 255, 250);
}

.footer {
  text-align: center;
  color: rgb(119, 136, 153);
  margin: 0 0 1vw;
}

@media (max-width: 1280px) {
  .landing {
    width: clamp(600px, 80vw, 720px);
    margin: 32vh auto;
  }
  .skills {
    width: 90vw;
  }
  .projects {
    width: 90vw;
  }
  .projects .swiper .swiper-wrapper .project {
    padding-bottom: 1vw;
  }
  .projects .swiper .swiper-wrapper .project h4 {
    margin: 0 0 0 25vw;
  }
  .projects .swiper .swiper-wrapper .project .content {
    flex-direction: column;
  }
  .projects .swiper .swiper-wrapper .project .content .images img {
    height: clamp(250px, 30vw, 350px);
  }
  .projects .swiper .swiper-wrapper .project .content .text {
    width: clamp(600px, 60vw, 700px);
  }
  .projects .swiper .swiper-wrapper .project .content .text .header {
    text-align: center;
  }
  .projects .swiper .swiper-wrapper .project .content .text .header h4 {
    margin-left: 30vw;
  }
  .projects .swiper .swiper-wrapper .project .content .text .header #longer {
    margin: 0 0 0 25vw;
  }
  .projects .swiper .swiper-wrapper .project .content .text .header a h2 span {
    display: block;
    line-height: 2.5rem;
  }
  .projects .swiper .swiper-wrapper .project .content .text ul {
    margin: 0 auto;
    width: 300px;
  }
  .projects .swiper .autoplay-progress svg {
    width: 10%;
    height: 10%;
    left: 45%;
    top: 85%;
  }
  .contact {
    width: 90vw;
  }
}
@media (max-width: 768px) {
  .landing {
    margin: 30vh auto;
    width: 90vw;
  }
  .landing .hero {
    text-align: center;
  }
  .landing .hero .name {
    font-size: 6rem;
  }
  .landing .hero .title {
    font-size: 4.5rem;
  }
  .landing .hero .typed-title {
    font-size: 32px;
  }
  .skills {
    margin-bottom: 4vw;
  }
  .skills .subtitle {
    font-size: 20px;
  }
  .skills .content {
    font-size: 3rem;
  }
  .projects {
    margin-bottom: 4vw;
  }
  .projects .swiper .swiper-wrapper .project h4 {
    display: none;
  }
  .projects .swiper .swiper-wrapper .project .content .images img {
    height: clamp(100px, 35vw, 250px);
  }
  .projects .swiper .swiper-wrapper .project .content .text {
    width: 80vw;
  }
  .projects .swiper .swiper-wrapper .project .content .text .header {
    width: 60vw;
    margin: 0 auto;
  }
  .projects .swiper .swiper-wrapper .project .content .text .header h4 {
    display: none;
  }
  .projects .swiper .swiper-wrapper .project .content .text .header a h2 span {
    line-height: 2rem;
  }
  .projects .swiper .swiper-wrapper .project .content .text ul {
    margin: 1vw auto;
  }
  .projects .swiper .swiper-pagination {
    --swiper-pagination-bullet-size: 12px;
  }
  .projects .swiper .autoplay-progress svg {
    stroke-width: 6px;
  }
  .contact {
    margin-bottom: 4vw;
  }
  .contact .content {
    justify-content: space-evenly;
    gap: 0;
  }
}
@media (max-width: 480px) {
  .landing .hero .name {
    font-size: 4.5rem;
  }
  .landing .hero .title {
    font-size: 4rem;
  }
  .landing .hero .typed-title {
    font-size: 24px;
  }
  .skills .content .proficient {
    font-size: 3.5rem;
  }
  .skills .content .competant {
    font-size: 2.5rem;
  }
  .skills .content .novice {
    font-size: 1.5rem;
  }
  .projects .swiper .swiper-wrapper .project h4 {
    font-size: 20px;
  }
  .projects .swiper .swiper-wrapper .project .content .text .header {
    width: 250px;
  }
  .projects .swiper .swiper-wrapper .project .content .text .header h4 {
    margin: 0 0 0 25vw;
    font-size: 20px;
  }
  .projects .swiper .swiper-wrapper .project .content .text .header a h2 {
    font-size: 30px;
  }
  .projects .swiper .swiper-wrapper .project .content .text .header a h2 span {
    display: none;
  }
  .projects .swiper .swiper-wrapper .project .content .text ul {
    width: 250px;
    margin: 2vw auto;
  }
  .projects .swiper .swiper-wrapper .project .content .text ul li {
    font-size: 20px;
  }
  .projects .swiper .swiper-button-prev,
  .projects .swiper .swiper-button-next {
    display: none;
  }
  .contact .subtitle {
    font-size: 20px;
  }
  .contact .content i {
    font-size: 80px;
  }
  .contact .content i:hover {
    transform: scale(1.1);
  }
}/*# sourceMappingURL=index.css.map */